*{
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}
div{
    background-color: beige;
    width: 50%;
    height: 200px;
    padding: 20px;
    border: 3px dotted black;
    margin: 20px
}
